{% extends 'blog/base.html' %}
{% block content %}
<div class="post">
	{% if post.published_date %}
    	<div class="detail_date post_published_date">
        	{{ post.published_date }}
    	</div>
	{% else %}
    	<div class="detail_date post_published_date not_published">
        	Not published yet
    	</div>
	{% endif %}
	<div class="post_title"><h2>{{post.title}}</h2></div>
	<div class="post_text">{{post.text|linebreaksbr}}</div>
	{% if user.is_authenticated %}
		<a class="edit_button button" href="{% url 'post_edit' pk=post.pk %}">
			<p>Edit</p><span class="glyphicon glyphicon-pencil"></span>
		</a>
		<a class="edit_button button" href="{% url 'post_remove' pk=post.pk %}">
			<p>Remove</p><span class="glyphicon glyphicon-trash"></span>
		</a>
		{% if not post.published_date %}
			<a class="edit_button button" href="{% url 'post_publish' pk=post.pk %}"><p>Publish</p><span class="glyphicon glyphicon-check"></span></a>
		{% endif %}
	{% endif %}
	<div class="wide_block">
		<a class="comment_button" href="{% url 'add_comment_to_post' pk=post.pk %}">
			<p>Add comment</p><span class="glyphicon glyphicon-pencil"></span>
		</a>
	</div>
</div>
<p class="post comments_title">Comments:</p>
{% for comment in post.approved_comments.all %}
    <div class="comment">
        <div class="detail_date post_published_date">{{ comment.created_date }} 
        </div>
        	{% if not comment.approved_comment and user.is_authenticated %}
    			<div class="comment_author">{{ comment.author }}</div>
                <a class="white_round_button" href="{% url 'comment_remove' pk=comment.pk %}" data-title="delete comment"><span class="glyphicon glyphicon-remove"></span></a>
                <a class="white_round_button" href="{% url 'comment_approve' pk=comment.pk %}" data-title="approve comment"><span class="glyphicon glyphicon-ok"></span></a>
            {% else %}
            	<div class="comment_header">{{ comment.author }}</div>
            {% endif %}
        <p class="comment_text">{{ comment.text|linebreaks }}</p>
    </div>
{% empty %}
    <p class="comment">No comments here yet :(</p>
{% endfor %}
{% endblock %}