{% extends 'blog/base.html' %}
{% block content %}
<div class="col-xs-0 col-sm-0 col-md-2 col-lg-2"></div>
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
	{% for post in posts %}
		<a href="{% url 'post_detail' pk=post.pk %}" class="post_link">
			<div class="post_title">
				<h2>{{post.title}}</h2>
			</div>
			<div class="post_published_date">published: {{post.published_date}}</div>
			{% if post.image %}
				<div class="image_post post_text">
				<img src="{{post.image.url}}" class="post_image">
					{{post.text|linebreaks}}
				</div>
			{% else %}
				<div class="post_text">{{post.text|linebreaks}}</div>
			{% endif %}
		</a>
		<a class="comment_button" href="{% url 'add_comment_to_post' pk=post.pk %}"><p>Add comment</p><span class="glyphicon glyphicon-pencil"></span></a>
		<a href="{% url 'post_detail' pk=post.pk %}" class="comments_link">Comments: {{ post.approved_comments.count }} 
		{% if user.is_authenticated %}
			(waiting for approvement {{post.unapproved_comments.count}})
		{% endif %}
		</a>
		<div class="comment_button_block"></div>
	{% endfor %}
</div>
{% endblock %}