{% extends 'blog/base.html' %}
{% block content %}
<div class="col-xs-0 col-sm-0 col-md-2 col-lg-2"></div>
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
	{% if post.published_date %}
    	<div class="detail_date post_published_date">
        	{{ post.published_date }}
    	</div>
	{% else %}
    	<div class="detail_date post_published_date not_published">
        	Not published yet
    	</div>
	{% endif %}
	<div class="post_title"><h2>{{post.title}}</h2></div>
	{% if post.image %}
		<img src="{{post.image.url}}" class="post_detail_image col-xs-12 col-sm-12 col-md-12 col-lg-12">
	{% endif %}
	<div class="post_text">{{post.text|linebreaksbr}}</div>
	{% if user.is_authenticated %}
		<a class="add_comment_button button" href="{% url 'add_comment_to_post' pk=post.pk %}">
			<p>Add comment</p><span class="glyphicon glyphicon-pencil"></span>
		</a>
		<a class="edit_button button" data-title="edit" href="{% url 'post_edit' pk=post.pk %}">
			<p>Edit</p><span class="glyphicon glyphicon-edit"></span>
		</a>
		<a class="edit_button button" data-title="remove" href="{% url 'post_remove' pk=post.pk %}">
			<p>Remove</p><span class="glyphicon glyphicon-trash"></span>
		</a>
		<a class="small_edit_button button" href="{% url 'add_comment_to_post' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span>
		</a>
		<a class="small_edit_button button" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-edit"></span>
		</a>
		<a class="small_edit_button button" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-trash"></span>
		</a>
		{% if not post.published_date %}
			<a class="edit_button button" href="{% url 'post_publish' pk=post.pk %}"><p>Publish</p><span class="glyphicon glyphicon-check"></span></a>
		{% endif %}
	{% else %}
	<div class="wide_block">
		<a class="add_comment_button button" href="{% url 'add_comment_to_post' pk=post.pk %}">
			<p>Add comment</p><span class="glyphicon glyphicon-pencil"></span>
		</a>
	</div>
	{% endif %}
<p class="comments_title">Comments:</p>
{% if user.is_authenticated %}
	{% for comment in post.comments.all %}
	    <div class="comment">
	    	<div class="comment_author">{{ comment.author }}</div>
        	{% if not comment.approved_comment  %}
                <a class="white_round_button" href="{% url 'comment_remove' pk=comment.pk %}" data-title="delete comment"><span class="glyphicon glyphicon-remove"></span></a>
                <a class="white_round_button" href="{% url 'comment_approve' pk=comment.pk %}" data-title="approve comment"><span class="glyphicon glyphicon-ok"></span></a>
            {% else %}
            	<a class="white_round_button approved" href="{% url 'comment_remove' pk=comment.pk %}" data-title="delete comment"><span class="glyphicon glyphicon-remove"></span></a>
            {% endif %}
	        <div class="detail_date post_published_date">{{ comment.created_date }} </div>
	        <div class="comment_text">
	        	<p>{{ comment.text|linebreaks }}</p>
	        </div>
	    </div>
	{% empty %}
	    <p class="comment_text">No comments here yet :(</p>
	{% endfor %}
{% else %}
	{% for comment in post.approved_comments.all %}
	    <div class="comment">
	    	<div class=" wide comment_author">{{ comment.author }}</div>
	        	{% if not comment.approved_comment %}
	                <a class="white_round_button" href="{% url 'comment_remove' pk=comment.pk %}" data-title="delete comment"><span class="glyphicon glyphicon-remove"></span></a>
	                <a class="white_round_button" href="{% url 'comment_approve' pk=comment.pk %}" data-title="approve comment"><span class="glyphicon glyphicon-ok"></span></a>
	            {% endif %}
	        <div class="detail_date post_published_date" data-title="wide">{{ comment.created_date }}</div>
	        <p class="comment_text col-md-12">{{ comment.text|linebreaks }}</p>
	    </div>
	{% empty %}
	    <p class="comment">No comments here yet :(</p>
	{% endfor %}
{% endif %}
</div>
{% endblock %}