{% extends 'blog/base.html' %}
{% block content%}
<div class="col-xs-0 col-sm-0 col-md-2 col-lg-2"></div>
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
	<div  class="post_title">
		<h2>New post</h2>
	</div>
	<form enctype="multipart/form-data" method="post" class="post_form col-xs-12 col-sm-12 col-md-8 col-lg-8">
		{% csrf_token %}
		{{ form.as_p }}
		<button type="submit" class="save_button button"><span class="glyphicon glyphicon-floppy-disk"></span><p>Save</p></button>
	</form>
</div>
{% endblock %}