header {
	background-color: #f70;
	padding: 10px 0;
	margin: 0;
	font-family: 'Sacramento', cursive;
	font-family: 'Butterfly Kids', cursive; 
	font-family: 'Ruge Boogie', cursive;
	width: 100%;
}

body {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}
/*
*:focus {
outline: 0;
}
input:-webkit-autofill {
-webkit-box-shadow: none;
-webkit-text-fill-color: #fff !important;
}
*/
button:focus, input:focus, a:focus{
text-decoration: none !important;
outline: none !important;
}

header a,
header a:visited {
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}

header a:hover,
header a:active {
	color: #fda;
	text-decoration: none;	
}


header h1 {
	width: 100%;
	font-size: 50px;
	text-align: center;
}


a,
a:visited,
a:hover,
a:active {
	text-decoration: none;
}

.username {
	position: absolute;
	color: #fa0
}

.username a {
	color: #f40;
}

.post {
	margin: auto;
	width: 600px;
}

.post_title, 
.post_title a {
	color: #f63;
	text-decoration: none;
	font-family: 'Marck Script', cursive;
	font-family: 'Caveat', cursive;
}



.post_title:visited {

}

.post_title a:hover *{
	text-decoration: none;
	color: #f90;
}

.post_text {
	padding: 5px 0 10px 0;
	font-size: 14px;
	color: #222;
	border-bottom: 2px solid #f90;
}


.post_published_date {
	font-size: 12px;
	color: #777;
	text-decoration: none;
}


.post_link,
.post_link:visited {
	display: block;
	color: #777;
	width: 100%;
	height: 100%;
}

.post_link:hover {
	color: #444;
}

.post_link:hover .post_title {
	color: #f90;
}

.detail_date {
	display: block;
	float: right;
}

.not_published {
	color: #f70;
}

.short_post {
/*	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;*/
}

.image_draft {
	min-height: 70px;
}

.image_post {

}

.post_detail_image,
.post_image {
	display: block;
	margin-bottom: 10px;
}

/*.image_block {
	width: 100%;

}
*/
.post_image {
	max-width: 100%;
}

.draft_image {
	margin-right: 10px;
}

.detail_date {
	margin-top: 10px;
}