header {
	background-color: #f70;
	padding: 10px 0;
	font-family: 'Sacramento', cursive;
	font-family: 'Butterfly Kids', cursive; 
	font-family: 'Ruge Boogie', cursive;
}

header a,
header a:visited {
	font-weight: bold;
	color: #fff;
	text-decoration: none;	
}

header a:hover,
header a:active {
	color: #fda;
	text-decoration: none;	
}


.new_post_icon {
	float: right;
	margin-top: 25px;
	margin-right: 30px; 
	background-color: #f70;
	/*width: 20px;
	height: 20px;*/
	padding: 8px 9px 7px 10px;
	border-radius: 20px;
	color: #fff;
}

.new_post_icon span {
	color: white;
	font-size: 20px;
}

.new_post_icon:hover {
	background-color: #fda;
	text-decoration: none;
}

.new_post_icon:hover span {
	color: #f70;
}


header h1 {
	width: 100%;
	font-size: 50px;
	text-align: center;
}

.post {
	margin: auto;
	width: 600px;
}

a,
a:visited,
a:hover,
a:active {
	text-decoration: none;
}


/*.post_link {
	display: block;
}

.post_link:hover  {
	background-color: #fda;
}
*/
.post_title, 
.post_title a {
	color: #f63;
	text-decoration: none;
	font-family: 'Marck Script', cursive;
	font-family: 'Caveat', cursive;
}

.post_title a:hover *{
	text-decoration: none;
	color: #f90;
}

.post_text {
	padding: 5px 0 10px 0;
	border-bottom: 2px solid #f90;
	font-size: 14px;
	color: #222;
}

.post_published_date {
	font-size: 12px;
	color: #777;
}


.detail_date {
	display: block;
	float: right;
}

.not_published {
	color: #f70;
}

.short_post {
	height: 37pt;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.button {
	background-color: #f70;
	color: #fff;
	font-size: 20px;
	border: 0px;
}

.save_button {
	width: 90px;
	height: 40px;
	padding-top: 6px;
	padding-left: 5px;
}

.save_button span {
	display: block;
	float: left;
	margin-left: 5px;
	margin-top: 3px;
}


.save_button:visited,
.edit_button:visited {
	background-color: #f70;
	color: #fff;
}

.save_button:hover,
.edit_button:hover {
	background-color: #fda;
	color: #f70; 
}


.edit_button {
	display: inline-block;
	margin-top: 10px;
	width: 120px;
	height: 40px;
	padding: 5px 10px;
	margin-right: 10px;
}

.edit_button span {
	display: block;
	float: right;
	padding-top: 3px;
}

.edit_button p {
	display: block;
	float: left;
}
