header {
	background-color: #f70;
	padding: 10px 0;
	font-family: 'Sacramento', cursive;
	font-family: 'Butterfly Kids', cursive; 
	font-family: 'Ruge Boogie', cursive;
	width: 100%;
}

body {
	overflow-x: hidden;
}

header a,
header a:visited {
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}

header a:hover,
header a:active {
	color: #fda;
	text-decoration: none;	
}


header h1 {
	width: 100%;
	font-size: 50px;
	text-align: center;
}
@media(max-width: 800px){
	header h1{
		text-align: left;
		margin-left: 10px;	
	}
}

a,
a:visited,
a:hover,
a:active {
	text-decoration: none;
}

.username {
	position: absolute;
	color: #fa0
}

.username a {
	color: #f40;
}

.post {
	margin: auto;
	width: 600px;
}


.post_title, 
.post_title a {
	color: #f63;
	text-decoration: none;
	font-family: 'Marck Script', cursive;
	font-family: 'Caveat', cursive;
}

.post_title:visited {

}

.post_title a:hover *{
	text-decoration: none;
	color: #f90;
}

.post_text {
	padding: 5px 0 10px 0;
	border-bottom: 2px solid #f90;
	font-size: 14px;
	color: #222;
}


.post_published_date {
	font-size: 12px;
	color: #777;
}


.detail_date {
	display: block;
	float: right;
}

.not_published {
	color: #f70;
}

.short_post {
	height: 37pt;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

