
.round_button {
	float: right;
	margin-top: 25px;
	margin-right: 30px; 
	background-color: #f70;
	padding: 8px 9px 7px 10px;
	border-radius: 20px;
	color: #fff;
}

.round_button span {
	color: white;
	font-size: 20px;
}

.round_button:hover {
	background-color: #fda;
	text-decoration: none;
}

.round_button:hover span {
	color: #f70;
}
.button {
	background-color: #f70;
	color: #fff;
	font-size: 20px;
	border: 0px;
}

.save_button {
	width: 90px;
	height: 40px;
	padding-top: 6px;
	padding-left: 5px;
}

.save_button span {
	display: block;
	float: left;
	margin-left: 5px;
	margin-top: 3px;
}


.button:visited {
	background-color: #f70;
	color: #fff;
}

.button:hover {
	background-color: #fda;
	color: #f70; 
}


.edit_button {
	display: inline-block;
	margin-top: 10px;
	width: 120px;
	height: 40px;
	padding: 5px 10px;
	margin-right: 10px;
}

.edit_button span,
.comment_button span {
	display: block;
	float: right;
	padding-top: 3px;
}

.edit_button p,
.comment_button p {
	display: block;
	float: left;
}

.comment_button {
	display: inline-block;
	border: 2px solid #f60;
	color: #f60;
	font-size: 14px;
	margin-top: 10px;
	width: 180px;
	height: 30px;
	padding: 2px 5px;
	margin-right: 10px;
	float: right;
}

.comment_button:hover {
	color: #fff;
	background-color: #f60;
}

.round_button::after {
	content: attr(data-title);
	position: absolute;
	margin-top: 35px;
	color: #fff;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	padding: 2px;
	background-color: rgba(255, 100, 0, 0.5);
	opacity: 0;
}

.log_out_icon::after {
	margin-left: -70px;
}

.new_post_icon::after {
	margin-left: -40px;
}

.draft_list_icon::after {
	margin-left: -37px;
}

.round_button:hover::after {
	opacity: 1;
	-webkit-transition: .4s ease-out;
     -webkit-transition-delay: 0.5s;
     -o-transition: .4s ease-out;
     -o-transition-delay: 0.5s;
     -moz-transition: .4s ease-out;
     -moz-transition-delay: 0.5s;
     transition: .4s ease-out;
     transition-delay: 0.5s;
	-webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s; 	
}

.white_round_button {
	display: inline-block;
	background-color: #fff;
	color: #f41;
	width: 25px;
	height: 25px;
	font-size: 13px;
	border-radius: 13px;
	margin-left: 10px;
	margin-top: -30px;
	text-align: center;
}

.white_round_button:hover {
	color: #fff;
	background-color: #f41;
}

.white_round_button span {
	margin: auto;
	margin-top: 20%;
}


.white_round_button::after {
	content: attr(data-title);
	position: absolute;
	margin-top: 30px;
	margin-left: -50px;
	color: #fff;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: bold;
	padding: 2px;
	background-color: rgba(255, 100, 0, 0.8);
	opacity: 0;
}
.white_round_button:hover::after {
	opacity: 1;
	-webkit-transition: .6s ease-out;
     -webkit-transition-delay: 0.5s;
     -o-transition: .6s ease-out;
     -o-transition-delay: 0.5s;
     -moz-transition: .6s ease-out;
     -moz-transition-delay: 0.5s;
     transition: .6s ease-out;
     transition-delay: 0.5s;
	-webkit-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s; 	
}