.comment {
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.comment_header {
	width: 600px;
	font-weight: bold;
	color: #f41;
	font-family: Ubuntu;
	font-size: 20px;
	display: inline-block;
	float: left;
}

.comment_author {
	font-weight: bold;
	color: #f41;
	font-family: Ubuntu;
	font-size: 20px;
	margin-bottom: -10px;
	display: inline-block;
	float: left;
}


.comments_title {
	margin-top: 10px;
	margin-bottom: -15px; 
	padding: 2px 0;
	color: #F40;
	font-weight: bold;
}

.comments_link {
	display: inline-block;
	color: #d30;
	margin-top: 5px;
	font-family: Exo;
	font-weight: bold;
	font-size: 14px;
}

.comments_link:hover {
	color: #d30;
	text-decoration: none;
}

.comment_button {
	font-family: Exo;
	font-weight: bold;
	font-size: 16px;
}

.wide_block {
	width: 600px;
	height: 30px;
}