.comment {
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.comment_header {
	width: 600px;
	font-weight: bold;
	color: #f41;
	font-family: Ubuntu;
	font-size: 20px;
	display: inline-block;
	float: left;
}

.comment_author {
	display: block;
	width: 90%;
	float: left;
	font-weight: bold;
	color: #f41;
	font-family: Ubuntu;
	font-size: 20px;
	margin-bottom: -10px;
}

.comment_text {
	display: block;
	float: left;
	width: 100%;
	margin-top: -10px;
}

.comments_title {
	display: block;
	float: left;
	margin-top: 20px;
	margin-bottom: 0; 
	padding: 2px 0;
	color: #F40;
	font-weight: bold;
	width: 100%;
}

.comments_link {
	display: inline-block;
	color: #d30;
	margin-top: 5px;
	font-family: Exo;
	font-weight: bold;
	font-size: 14px;
}

.comments_link:hover {
	color: #d30;
	text-decoration: none;
}

.comment_button {
	font-family: Exo;
	font-weight: bold;
	font-size: 16px;
}

.wide_block {
	width: 100%;
	height: 30px;
}

.comment .post_published_date {
	float: left;
	margin-top: 10px;
	width: 90%;
}

.approved {
	margin-left: 25px;
}

.wide {
	display: block;
	float: left;
	width: 100%;
}

.comment .post_published_date[data-title="wide"] {
	width: 100%;
}

