.post_form {
	margin-top: 10px;
}

.post_form input {
	border: 0px;
	border-bottom: 2px solid #f70;
	background-color: #fff;
	width: 350px;
	margin-left: 5px;
}

.post_form textarea {
	background-color: #fff;
	border: 1px solid #fa0;
	padding: 5px 10px;
	width: 550px;
	margin-left: 5px;
}

.post_form textarea:active,
.post_form textarea:focus {
	border-color: #f70;
}

.lower {
	margin-top: 10px;
}