.post_form {
	margin-top: 10px;
}

.post_form input {
	border: 0px;
	border-bottom: 2px solid #f70;
	background-color: #fff;
	width: 350px;
	margin-left: 5px;
}

.post_form textarea {
	background-color: #fff;
	border: 1px solid #fa0;
	padding: 5px 10px;
	width: 550px;
	margin-left: 5px;
}

.post_form textarea:active,
.post_form textarea:focus {
	border-color: #f70;
}

.lower {
	margin-top: 10px;
}

.login_form {
	width: 400px;
	height: 400px;
	border-radius: 200px;
	background-color: #f90;
/*	border: 5px solid #f60;*/
	margin: auto;
	text-align: center;
	margin-top: 30px;
	padding-top: 150px;
	padding-left: 50px;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Exo', sans-serif;
	background-image: url("../images/orange.png");
    background-position: center center;
    background-size: cover;
    background-origin: padding-box;
}

.login_form * {
	margin: 5px;
}

.login_form input {
	border: 0px;
	background-color: #fff;
	width: 210px;
	padding: 5px;
	border-radius: 5px;
	color: #e50;
}

.login_form input:focus,
.login_form input:active,
.login_form input:visited {
	outline: none;
	background-color: #fff;
}

.login_form button {
	width: 80px;
	height: 80px;
	border-radius: 40px;
	margin-left: 125px;
	background-color: rgba(255, 77, 0, 0.6);
	outline: none;
	-webkit-appearance: none;
}

.login_form button:active,
.login_form button:visited {
	outline: none;
	-webkit-appearance: none;
}