@media(max-width: 1200px){
	.menu {
		position: absolute;
		top: 10px;
		right: -15px;
	}
}


@media(max-width: 1000px) {

	.login_form {
		width: 900px;
		height: 900px;
		border-radius: 450px;
		padding-top: 350px;
		padding-left: 120px;
	}
	.login_form input[type="text"],
	.login_form input[type="password"] {
		width: 650px;
		font-size: 50px;
	}


	.login_form button {
		display: block;
		width: 200px;
		height: 200px;
		border-radius: 100px;
		margin-left: 420px;
		font-size: 70px;
	}


	.comments_link {
		font-size: 25px;
	}
	.comment_button {
		font-size: 32px;
	}
	.post_form p {
		font-size: 40px;
	}
	.post_form input[type=text] {
		width: 100%;
		border-width: 4px; 
	}

	.post_form textarea {
		width: 100%;
		height: 800px;
		border-width: 4px;
	}

	.post_form input[type=file] {
		display: inline-block;
		width: 70%;
	}
	.comment_button_block {
		height: 50px;
		width: 100%;
	}
	.post_title h2 {
		font-size: 70px;
	}

	.comments_title {
		font-size: 50px;
	}
	.post_text,
	.comment_text,
	.comment {
		font-size: 40px;
	}
	.post_published_date {
		font-size: 25px;
	}
	.post_image {
		width: 100%;
	}
	header {
		padding-right: 20px;
	}
	header h1{
		text-align: left;
		margin-left: 10px;
		font-size: 110px;	
	}
	.menu {
		position: absolute;
		top: 10px;
		right: 0;
	}

	.menu .round_button {
		margin-left: 40px;
		margin-top: 30px;
		padding: 20px;
		border-radius: 45px;
	}

	.menu .round_button span {
		font-size: 50px;
	}

	.menu .round_button[data-title="log in"]{
		float: right;
		height: 70px;
		width: 70px;
		margin-top: 35px;
		margin-right: 50px; 
		background-color: rgba(255,170, 0, 0.3);
		padding: 8px 9px 7px 10px;
		border-radius: 35px;
		color: #fff;
		-webkit-appearance: none;
	}


	.menu .round_button[data-title="log in"]:hover{
		background-color: rgba(255,255, 255, 0.9);
	}
	.comment_author {
		font-size: 50px;
		margin-bottom: 0;
		padding-bottom: 0;
		width: 80%;
	}

	.comment_text {
		display: block;
		float: left;
		width: 100%;
	}
	.comment_button {
		font-size: 70px;
		margin: 0;
		margin-top: 50px;
		margin-bottom: 10px;
	}
	.comment_button p{
		margin-left: 10px;
		margin-top: -10px;
	}
	.comment_button span {
		margin-right: 10px;
	}
	.save_button {
		float: right;
		width: 200px;
		height: 70px;
		padding-bottom: 20px;
		margin-bottom: 10px;
	}
	.save_button p{
		font-size: 40px;
	}
	.save_button span {
		margin-left: 10px;
		font-size: 40px;
		margin-top: 10px;
	}

	.draft_image {
		height: 200px;
		margin-right: 30px;
	}

	.image_draft {
		min-height: 220px;
	}

	.edit_button {
		display: block;
		margin: 0;
		margin-top: 20px;
		width: 50%;
		height: 110px;
		padding: 20px;
		font-size: 70px;
		font-weight: bold;
		float: left;
	}

	.edit_button[data-title="edit"],
	.edit_button[data-title="edit"]:visited {
		background-color: #f90;
	}

	.edit_button[data-title="edit"]:hover {
		background-color: #fd9;
		color: #f90;
	}

	.edit_button[data-title="remove"],
	.edit_button[data-title="remove"]:visited {
		background-color: #f50;
	}


	.edit_button[data-title="remove"]:hover {
		background-color: #fcb;
		color: #f50;
	}

	.add_comment_button,
	.comment_button {
		width: 100%;
		font-size: 70px;
		font-weight: bold;
		padding: 20px;
		height: 110px;
	}

	.add_comment_button p,
	.edit_button p {
		margin-top: -10px;
	}

	.white_round_button {
		float: right;
		font-size: 40px;
		width: 60px;
		height: 60px;
		border-radius: 30px;
	}
	.white_round_button::after {
		font-size: 20px;
	}

	.white_round_button span {
		padding: 0;
		margin: 0;
		padding-top: 5px;
		font-size: 30px;
	}

	.white_round_button[data-title="delete comment"] {
		margin-left: 30px;
	}
}

@media(max-width: 800px){
	.menu {
		position: relative;
		display: block;

	}
	.menu .round_button,
	.small_edit_button {
		border-radius: 0px;
		width: 32%;
		margin-left: 0;
		margin-top: 0;
		margin-right: 1%;
		text-align: center;
	}
	.menu .round_button span {
	}
	.round_button::after {
		font-size: 8px;
		margin-top: 20px;
	}

	.menu .round_button[data-title="log in"]{
		float: right;
		height: 70px;
		width: 70px;
		margin-top: -120px;
		margin-right: 50px; 
		background-color: rgba(255,170, 0, 0.3);
		padding: 8px 9px 7px 10px;
		border-radius: 35px;
		color: #fff;
		-webkit-appearance: none;
	}

	.log_out_icon::after {
	margin-left: -50px;
	}

	.new_post_icon::after {
		margin-left: -40px;
	}

	.draft_list_icon::after {
		margin-left: -30px;
	}
	.comment_author {
		width: 70%;
		overflow-x: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.edit_button,
	.add_comment_button {
		display: none;
	}

	.post_published_date {
		display: none;
	}

	.small_edit_button {
		display: block;
		float: left;
		margin-top: 20px;
		padding: 20px;
		font-size: 40px;
	}


}